.hidden {
    display: none;
}

#webcam-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 320px;
    height: 240px;
}

#startButton {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #0056b3;
}

#label-container div {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
}
